@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #121829;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    
}

.only-login-container {
    padding: 40px 20px;
    margin: auto;
    position: relative;
    
}

.logo-container img{
    width: 500px;
    max-width: 80%;
    height: auto;
}

.logo-container {
    margin: 30px 0;
}

.logo-register-container {
    margin: 110px 0px;
}

.logo-register-container img{
    width: 500px;
    max-width: 80%;
    height: auto;
}

.body-section{
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #4169E1;
    font-weight: 700;
}

.admin-title {
    color: #dc3545 !important;
}

form {
    text-align: left;
}

.input-group {
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}


.login-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.student-button {
    background-color: #4169E1;
    color: white;
}

.student-button:hover {
    background-color: #0d46f1;
}

.admin-button {
    background-color: #dc3545;
    color: white;
}

.admin-button:hover {
    background-color: #c82333;
}

/* only for registering */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #ccc;
    font-size: 14px;
    gap: 5px;
}

.error-message {
  color: #ff4d4f;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: rgba(255, 77, 79, 0.1);
  padding: 8px 16px;
  border-left: 4px solid #ff4d4f;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.back-arrow {
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.back-arrow:hover {
    color: #ccc;
}

